// ============== Import classes from about.html =====================
.about__container {
    width: 100%;
    // height: 80vh;
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;

    @include for_breakpoint(sm-resolution md-resolution) {
        flex-direction: column;
    }

    &__box {
        flex: 1;
        height: 65vh;
    }

    &__img {
        width: 85%;
        margin-left: 6rem;
        margin-top: 5rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            display: none;
        }
    }

    &__image {

        @include for_breakpoint(sm-resolution md-resolution) {
            margin-top: 22rem;
            margin-left: 3rem;
            display: block;
        }
    }

    &__pic {
        display: block;
        margin-left: 3rem;
        margin-top: 1rem;
    }

    &__text {
        padding-left: $mb-5;

        @include for_breakpoint(sm-resolution md-resolution) {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    &__heading {
        position: relative;
        font-size: 1.2rem;
        color: $heading-color;
        font-weight: $font-light;
        letter-spacing: .1rem;
        margin-top: 11rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            margin-top: 2rem;
            font-size: .8rem;
        }

        &::after {
            content: "";
            width: 30%;
            height: 1px;
            background-color: $dark-blue;
            display: block;
            margin: 1.6rem 0;
        }
    }

    &__name {
        font-size: 3.75rem;
        font-style: italic;
        color: $heading-color;
        font-family: $heading-family;
        font-weight: $font-semi-light;
        margin-bottom: 1.6rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            font-size: 2rem;
        }
    }

    &__description {
        font-size: 1rem;
        color: $text-color;
        line-height: 2.2rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            font-size: .9rem;
        }
    }

    &__primary {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: $font-thin;
        font-family: $heading-family;
        color: $text-color;
        margin-top: $mb-5;
        letter-spacing: .2rem;

        .bx {
            font-size: 2rem;
            color: $dark-blue;
        }
    }

    &__line {
        width: 8%;
        height: 1px;
        background-color: $text-color;
        display: inline-block;
        margin: .2rem .5rem;
    }

    &__list {
        position: relative;
        font-size: 1rem;
        color: $text-color;
        line-height: 2.2rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            font-size: .9rem;
        }

        &::before {
            content: '⦾';
            color: $dark-blue;
            display: inline-block;
            margin-right: 1rem;
        }
    }
}

.about__fixed { 
    padding-top: 3rem;
    height: 100vh;
    margin-bottom: 2.5rem;
 }
.about__elementary { background-color: $color-white; }
.about__margin { 
    padding-right: $mb-5;

    @include for_breakpoint(sm-resolution md-resolution) {
        padding-right: 2rem;
        margin-top: 33rem;
    }
}
.about__01 {
    margin-top: 10rem;
    padding-right: $mb-5;

    @include for_breakpoint(sm-resolution md-resolution) {
        margin-top: -5rem;
        padding-right: 2rem;
    }
}
.about__info { margin-top: 2rem; }
.about__vertical { 
    border-left: 1px solid rgba(0, 0, 0, 0.2);

    @include for_breakpoint(sm-resolution md-resolution) {
        border-left: none;
    }
}
.about__sticky {
    position: fixed;
    z-index: 1000;
}

.about__secondary {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include for_breakpoint(sm-resolution md-resolution) {
        display: none;
    }

    &__box {
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        background-color: $bg-color;
        text-align: center;
        padding: .5rem;
    }

    &__img {
        width: 90%;
    }

    &__text {
        position: relative;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1rem;

        a {
            color: $heading-color;
        }

        &::after {
            content: "";
            width: 100%;
            height: 1.2px;
            background-color: $heading-color;
            margin-top: .9rem;
            display: block;
        }
    }
}

.elementary {
    background-color: $bg-color;
    padding-top: 1.8rem;

    @include for_breakpoint(sm-resolution md-resolution) {
        margin-top: 1.8rem;
    }

    &__head {
        text-align: center;
        font-size: 1.8rem;
        font-family: $heading-family;
        color: $heading-color;
        font-style: italic;

        @include for_breakpoint(sm-resolution md-resolution) {
           font-size: 1.4rem;
           margin-bottom: 1.5rem;
        }
    }

    &__text {
        width: 50%;

        @include for_breakpoint(sm-resolution md-resolution) {
            width: 90%;
        }
    }

    &__info {
        font-size: 1rem;
        line-height: 2rem;
        color: $text-color;

        @include for_breakpoint(sm-resolution md-resolution) {
            font-size: .9rem;
            line-height: 1.5rem;
        }
    }

    &__box {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }

    &__imgBox {
        width: 5rem;
        height: 5rem;
        background-color: $color-black;
        border-radius: 50%;
        margin-right: 1.5rem;

        @include for_breakpoint(sm-resolution md-resolution) {
           width: 4.5rem;
           height: 4.5rem;
        }
    }

    &__main {
        font-size: 1.2rem;
        font-weight: 700;
        font-family: $heading-family;
        color: $dark-blue;
        margin-bottom: 1rem;

        @include for_breakpoint(sm-resolution md-resolution) {
           font-size: 1rem;
        }
    }

    &__post {
        font-size: 1rem;
        font-weight: $font-light;
        color: $heading-color;

        @include for_breakpoint(sm-resolution md-resolution) {
           font-size: .8rem;
        }
    }
}

.swiper {
    width: 100%;
    height: 40vh;
    margin-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;

    @include for_breakpoint(sm-resolution md-resolution) {
        padding-left: 2rem;
        padding-right: 2rem;
        height: 60vh;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination span {
    background-color: $dark-blue;
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
    opacity: 0;
    visibility: hidden;
}