.articles {
   padding-top: 5.5rem;

    @include for_breakpoint(sm-resolution md-resolution) {
        padding-top: 0;
    }

    &__container {
        width: 100%;
        height: 85vh;
    }

    &__img {
        width: 100%;
        height: 100%;
        box-shadow: $box-shadow;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-direction: row;
        padding: 2rem 7rem;
        margin-top: 3rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            flex-direction: column;
            padding: 2rem 2rem;
            margin-top: 1.8rem;
        }
    }

    &__box {
        flex: 1;
        height: 55vh;
    }

    &__01 {
        margin-top: 1.5rem;
    }

    &__text {
        padding: 2rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            padding: 0;
        }
    }

    &__heading {
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $text-color;
        font-weight: $font-semi-light;
        margin-bottom: .8rem;
    }

    &__main {
        font-size: 1rem;
        text-transform: uppercase;
        color: $heading-color;
        font-weight: $font-bold;
        font-family: $heading-family;
        margin-bottom: .8rem;
        letter-spacing: .1rem;
    }

    &__info {
        font-size: .9rem;
        line-height: 1.8rem;
        color: $text-color;
        
        &:not(:first-child) {
            margin-top: 1.2rem;
        }
    }

    &__description {
        font-size: .8rem;
    }

    &__elemento {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 2rem 7rem;
        flex-direction: row;
        margin-top: 5rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            padding: 2rem 2rem;
            flex-direction: column;
            margin-top: 0rem;
        }
    }

    &__elementoBox {
        flex: 1;
        display: flex;
        justify-content: space-between;
        flex-direction: row; 

        @include for_breakpoint(sm-resolution md-resolution) {
            flex-direction: column;
        }

        &:not(:first-child) {
            
            @include for_breakpoint(sm-resolution md-resolution) {
                margin-top: 1rem;
            }
        }
    }

    &__mv {
         @include for_breakpoint(sm-resolution md-resolution) {
             margin-top: -2.5rem;
         }
    }


    &__bg {
        background-color: $bg-color;
    }

    &__elementoLeft {
        flex-basis: 40%;
        height: 40vh;
        //background-color: #eee;
        text-align: center;
        padding: .5rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            flex-basis: 100%;
            text-align: left;
        }
    }

    &__elementoRight {
        flex-basis: 60%;
        height: 40vh;
        padding: 2rem;

        @include for_breakpoint(sm-resolution md-resolution) {
            padding: .5rem;
            flex-basis: 60%;
            height: 40vh;
        }
    }

    &__elementoImg {
        width: 80%;
        height: 38vh;
        box-shadow: $box-shadow;

        @include for_breakpoint(sm-resolution md-resolution) {
            width: 30%;
            height: 38vh;
        }
    }

    &__btn {
        padding: .7rem;
        margin-top: 1.2rem;
        background-color: transparent;
        color: $dark-blue;
        font-size: .9rem;
        font-weight: $font-semi-light;
        font-family: inherit;
        border-radius: 3px;
        border: none;
        outline: none;
        cursor: pointer;

        a {
            color: $dark-blue;
        }
    }
}