.footer {
    width: 100%;
    height: 60vh;
    background-color: $color-black;
    padding: 5rem 10rem;

    @include for_breakpoint(sm-resolution md-resolution) {
           padding: 3rem 2rem;
           height: 150vh;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @include for_breakpoint(sm-resolution md-resolution) {
           flex-direction: column;
        }
    }

    &__box {
        flex: 1;
        height: 35vh;
    }

    &__icons {
        

        a {
            color: $color-white;
            font-size: 1.5rem;
            transition: all 300ms ease-in-out;

            @include for_breakpoint(sm-resolution md-resolution) {
                font-size: 1.2rem;
            }

            &:not(:first-child) {
                margin-left: 1.2rem;
            }

            &:hover {
                color: $text-color;
            }
        }
    }

    &__form {
        margin-top: 1.6rem;
        position: relative;

        @include for_breakpoint(sm-resolution md-resolution) {
           width: 100%;
        }
    }

    &__main {
        font-size: 1.5rem;
        color: $color-white;
        font-weight: 400;

        @include for_breakpoint(sm-resolution md-resolution) {
           font-size: 1.3rem;
        }
    }

    &__input {
        width: 70%;
        padding: .8rem;
        margin-top: 1.5rem;
        border: 1px solid $text-color;
        font-size: .8rem;
        color: $text-color;
        font-family: inherit;
        font-weight: $font-light;
        text-transform: uppercase;
        letter-spacing: .1rem;
        background-color: transparent;
        outline: none;

        @include for_breakpoint(sm-resolution md-resolution) {
           width: 100%;
           font-size: .7rem;
        }
    }

    &__submit {
        position: absolute;
        top: 57%;
        right: 30%;
        width: 10%;
        padding: .5rem;
        background-color: $dark-blue;
        border: none;
        outline: none;
        color: $color-white;
        font-size: 1.2rem;
        cursor: pointer;

        @include for_breakpoint(sm-resolution md-resolution) {
           width: 15%;
           right: 0%;
        }
    }

    &__info {
        font-size: .9rem;
        color: $text-color;
        margin-top: 1.6rem;
        width: 70%;
        line-height: 1.4rem;

        @include for_breakpoint(sm-resolution md-resolution) {
           font-size: .8rem;
           width: 100%;
           margin-bottom: 1.2rem;
        }
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: $text-color;
        display: block;

        @include for_breakpoint(sm-resolution md-resolution) {
           margin: 2rem 0;
        }
    }

    &__copy {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        @include for_breakpoint(sm-resolution md-resolution) {
           flex-direction: column;
        }
    }

    &__list {
        display: inline-block;
        font-size: .8rem;
        letter-spacing: .1rem;
        color: $color-white;

        &:not(:first-child) {
            margin-left: 1.2rem;
        }
    }

    &__link {
        color: $text-color;
        font-size: .8rem;
        transition: all 300ms ease-in-out;

        &:hover {
            color: $color-white;
        }
    }

    &__middle {
        text-align: center;
        margin-top: 1.2rem;
    }

    &__elemento {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;

        @include for_breakpoint(sm-resolution md-resolution) {
           flex-direction: column;
        }
    }

    &__wrapper {
        margin-top: 3rem;

        @include for_breakpoint(sm-resolution md-resolution) {
           margin-top: 1rem;
        }

        &:not(:first-child) {
            margin-left: 2.5rem;

            @include for_breakpoint(sm-resolution md-resolution) {
                margin-left: 0;
            }
        }
    }

    &__menuList {
        
        &:not(:first-child) {
            margin-top: 1rem;

            @include for_breakpoint(sm-resolution md-resolution) {
                margin-top: 1.3rem;
            }
        }
    
    }

    &__menuLink {
        font-size: .7rem;
        color: $color-white;
        text-transform: uppercase;
        letter-spacing: .1rem;
        transition: all 300ms ease-in-out;

        @include for_breakpoint(sm-resolution md-resolution) {
           font-size: .8rem;
        }

        &:hover {
            color: $text-color;
        }
    }
}